* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #006bc6, #1ecafc);
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h1{
    position: absolute;
    color: aliceblue;
    font-size: 1.75em;
    font-weight: 200;
}
.loader{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
}
.loader span{
    
}